<link rel="stylesheet" type="text/css" href="/css/serverRunning.css">

<div id="status">
    Server Running<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
</div>
<div id="port">
    PORT <span class="dot port"><%=port%></span>
</div>